{% extends "layout.html" %}
{%block head%}
<title>Biggie Cheese Regret</title>
<link href="static/styles/KKK.css" rel="stylesheet" />
<style>
    #body {
        font-size: xx-large;
        background-image: url('static/content/PublicEnemy.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
{% endblock %}
{% block body %}
<header id="header" style="color: #0026ff; margin-top: 8%; margin-left: 40%; padding: 10px 10px; background-color: #000000; width: 200px;">
    Yeah, 1'm H1p
</header>
{% endblock %}