{% extends "layout.html" %}
{%block head%}
<title>Biggie Cheese Secrets</title>
<style>
    #body {
        font-size: xx-large;
        background-image: url('static/content/ChamberOfSecrets.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    #header {
        font-size: 50px;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block body %}
<header id="header">
    Chamber of Secrets
</header id="header">
<main>
    <form action="/ChamberOfSecrets" method="post">
        <input type="search" name="Secrets" id="Secrets" autocomplete="off" placeholder="Enter your secret!" />
        <input type="submit" />
    </form>
    <a href="static/data/PeoplesSecrets.txt" download="Secrets">
        Download Secrets (txt)
    </a>
    {% for Secrets in SecretsPreview %}
    <p>{{Secrets}}</p>
    {% endfor %}
</main>
{% endblock %}