{% extends "layout.html" %}
{%block head%}
<title>Biggie Cheese Help</title>
<style>
    #body {
        font-size: xx-large;
    }
    #header {
        font-size: 50px;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block body %}
<header id="header">
    List of keywords and locations
</header>
<main>
    <ul>
        <li>Help - Help</li>
        <li>light mode - index</li>
        <li>dark mode - indexdark</li>
        <li>i am - KKK</li>
        <li>daniel simen - MovieTheaterBackRooms</li>
        <li>are u - BigMistake</li>
        <li>double d - NumberFile</li>
        <li>boycott hogwarts legacy - ChamberOfSecrets</li>
        <li>paco paco - TICT</li>
        <li>rosted duck - Ducktales</li>
        <li>study study study - Golden boy</li>
    </ul>
</main>
{% endblock %}